services:
  homepage:
    image: ghcr.io/gethomepage/homepage:latest
    container_name: homepage
    environment:
      HOMEPAGE_ALLOWED_HOSTS: ${ALLOWED_URLS} # required, may need port. See gethomepage.dev/installation/#homepage_allowed_hosts
      HOMEPAGE_VAR_PORTAINER_API_KEY: ${PORTAINER_API_KEY}
        # LOG_LEVEL: debug
        # PUID: 1000 # optional, your user id
        # PGID: 1000 # optional, your group id
    ports:
      - ${PORT}:3000
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro # optional, for docker integrations
      - ./config/:/app/config/
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.homepage.entrypoints=web"
        #- "traefik.http.routers.homepage.rule=Host(`homepage.homelab.local`)"
    networks:
      - default
      - traefik-network


networks:
  traefik-network:
    external: true
