version: '3.8'
services:
  zigbee2mqtt:
    container_name: zigbee2mqtt
    image: koenkk/zigbee2mqtt
    restart: unless-stopped
    volumes:
      - ${ZIGBEE_2_MQTT_DATA}:/app/data
      - /run/udev:/run/udev:ro
    ports:
      - "8081:8080"
    environment:
      - TZ=${TZ}
    devices:
      - ${DONGLE}:/dev/ttyUSB0:rw
    group_add:
      - dialout

  mosquitto:
    image: eclipse-mosquitto
    container_name: mosquitto
    hostname: mosquitto
    restart: unless-stopped
    ports:
      - "${MQTT_PORT}:1883"
      - "${MQTT_WS_PORT}:9001"
    volumes:
      - ${MOSQ_CONF}:/etc/mosquitto
      - ${MOSQ_CONF}/mosquitto.conf:/mosquitto/config/mosquitto.conf
    group_add:
      - dialout
    user: 1001:1001
